@use '../styles/variables' as *;
@use '../styles/mixins' as mixins;

// @media (prefers-color-scheme: light) {
//   .page {
//     --background: $full-white;
//     --foreground: $full-black;
//   }
// }

.page {
  // --background: $full-black;
  // --foreground: $full-white;

  display: flex;
  align-items: stretch;

  color: $full-white;
  background-color: $full-black;

  min-height: 100svh;
  padding: 30px;
}

.main {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 140px 1fr;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  @include mixins.custom-dashed-border(2px, $full-red);
}

.playerWidgets {
  grid-row: 3;
}

.playerField {
  grid-row: 3;
  grid-column: 2;
}

.gameResultContainer {
  display: flex;
  flex-direction: column;
  grid-row: 2;
  grid-column: 2;
  // Второй вариант - растянуть этот блок:
  // grid-column: 1 / 4;
  .message {
  }
  .restartButton {
  }
  .hidden {
    visibility: hidden;
  }
}

.botField {
  grid-row: 1;
  grid-column: 2;
}

.botWidgets {
  grid-row: 1;
  grid-column: 3;
}
