@use '../styles/variables' as *;
@use '../styles/mixins' as mixins;

// @media (prefers-color-scheme: light) {
//   .page {
//     --background: $full-white;
//     --foreground: $full-black;
//   }
// }

.page {
  // --background: $full-black;
  // --foreground: $full-white;

  display: flex;
  flex-direction: column;

  color: $full-white;
  background-color: $full-black;

  min-height: 100svh;
  padding: 30px;
}

.main {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-grow: 1;
  @include mixins.custom-dashed-border(2px, $full-red);
}

.test {
  display: inline-block;
  background-color: purple;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: space-around;
  margin: 0 auto;
}

// .field {
//   margin: 0 auto;
//   display: flex;
//   padding: 5px;
//   column-gap: 10px;
//   width: fit-content;
//   background-color: aqua;

//   .column {
//     display: flex;
//     flex-direction: column;
//     padding: 5px;
//     row-gap: 10px;
//     background-color: brown;

//     .square {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       width: 30px;
//       height: 30px;
//       background-color: blueviolet;
//     }
//   }
// }
