@use '../../styles/variables' as *;
@use '../../styles/mixins' as mixins;

.playerWidgets {
  --box-shadow-offset: 20px;
  --border-size: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 310px;
  max-height: 315px;
  width: 100%;
  height: 100%;
}

.stats {
  text-align: center;
  // Для выравнивания шрифта
  padding-top: 18px;
}

.board {
  --shadow-color: #5b5b5b;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5e5e5e;
  max-height: 190px;
  height: 100%;
  align-self: stretch;
  border: var(--border-size) solid #8a8a8a;
  box-shadow: 0px var(--box-shadow-offset) var(--shadow-color);
  margin-bottom: var(--box-shadow-offset);

  @include mixins.responsive('lg') {
    border-width: 15px;
  }
}

.mainPlayer {
  --shadow-color: #6d140c;
  background-color: #74150c;
  border-color: #cc1b06;
}

.reversed {
  flex-direction: column-reverse;
}

.hidden {
  visibility: hidden;
}

// @include mixins.tablet {
//   .board {
//     background-color: aqua;
//   }
// }
// @media (max-width: $screen-md) {
//   .playerWidgets {
//     --box-shadow-offset: 15px;
//     --border-size: 15px;
//   }
// }
