@use '../../styles/variables' as *;
@use '../../styles/mixins' as mixins;

.field {
  --square-size: 90px;
  --field-gap: 16px;
  --accent-color: rgb(58, 172, 83);

  display: flex;
  column-gap: var(--field-gap);
  width: fit-content;
  @include mixins.custom-dashed-border(2px, rgb(130, 130, 130), 5px);

  .column {
    display: flex;
    flex-direction: column;
    row-gap: var(--field-gap);

    .square {
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--square-size);
      height: var(--square-size);
      background-color: rgba(63, 63, 63, 0.755);
    }
  }

  .reversed {
    flex-direction: column-reverse;
  }

  .interactive:hover {
    background-color: yellowgreen;
    cursor: pointer;
  }
}

// Класс для главного ирока. Выделяет его интерфейс
.mainPlayer {
  @include mixins.custom-dashed-border(2px, $full-red, 5px);
}
