@use '../../styles/variables' as *;
@use '../../styles/mixins' as mixins;

.field {
  --square-size: 90px;
  --field-gap: 16px;
  --accent-color: rgb(58, 172, 83);

  position: relative;
  display: flex;
  column-gap: var(--field-gap);
  width: fit-content;
  @include mixins.custom-dashed-border(2px, rgb(130, 130, 130), 5px);

  .column {
    display: flex;
    flex-direction: column;
    row-gap: var(--field-gap);

    .square {
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--square-size);
      height: var(--square-size);
      background-color: rgba(63, 63, 63, 0.755);
    }
  }

  .reversed {
    flex-direction: column-reverse;
  }

  .interactive:hover {
    background-color: yellowgreen;
    cursor: pointer;
  }
}

.columnPointsContainer {
  position: absolute;
  display: flex;
  column-gap: var(--field-gap);
  align-self: flex-end;
  bottom: calc(-1 * 0.75 * var(--square-size));
  // background: rgba(100, 255, 134, 0.5);

  .value {
    display: flex;
    width: var(--square-size);
    height: var(--square-size);
    // background: rgba(255, 102, 56, 0.5);
    justify-content: center;
    align-items: center;
  }
}

.upper {
  bottom: 0px;
  align-self: flex-start;
  top: calc(-1 * 0.75 * var(--square-size));
}

.double {
  background-color: rgb(212, 224, 42);
}

.triple {
  background-color: rgb(30, 186, 224);
}

// Класс для главного ирока. Выделяет его интерфейс
.mainPlayer {
  @include mixins.custom-dashed-border(2px, $full-red, 5px);
}
